includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/factories/
        - database/seeders/
        - routes/

    level: 5

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics

    excludePaths:
        - ./bootstrap/cache/*
